.background__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.background__col {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.background__col:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.background__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem rem rgb(0, 0, 0, 0.1);
}

.background__head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.background__list{
    padding: 2rem;
}

.background__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.background__list-icon{
    color: var(--color-primary);
    /* margin-top: 2px; */
    font-size: 1.5rem;
    max-width: 15px;
}

.background__list p{
    font-size: 0.9rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px){
    .background__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .background__col{
        height: auto;
    }
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px){
    .background__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}